[submodule ".vim"]
	path = .vim
	url = git@github.com:telotortium/vimrc.git
[submodule "vanilla.emacs.d"]
	path = vanilla.emacs.d
	url = git@github.com:telotortium/emacs.d
[submodule ".urxvt/ext/urxvt-perls"]
	path = .urxvt/ext/urxvt-perls
	url = https://github.com/muennich/urxvt-perls
[submodule ".doom.d"]
	path = .doom.d
	url = git@github.com:telotortium/doom.d
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/plexus/chemacs2.git
[submodule ".bash-history-sqlite"]
	path = .bash-history-sqlite
	url = https://github.com/thenewwazoo/bash-history-sqlite.git
