[alias]
          lg = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
	news = log -p HEAD@{1}..HEAD@{0}
	newslg = log HEAD@{1}..HEAD@{0} --graph --pretty=format:'%Cred%h%Creset %C(yellow)%an%d%Creset %s %Cgreen(%cr)%Creset' --date=relative
[user]
        name = Robert Irelan
        email = rirelan@gmail.com
[merge]
        tool = vimdiff
[color]
        ui = true
[core]
        pager = less -R
        editor = vim -X --nofork
        excludesfile = ~/.gitignore_global
        autocrlf = input
[man]
        viewer = mostman
[man "mostman"]
        cmd = TERMINFO=~/.terminfo/ LESS=XC TERM=mostlike PAGER=less man
[color "diff"]
        whitespace = red reverse
[push]
	default = matching
