/.Trash/**
/crontab-local-backup

# Credentials
/.config/dbxcli/auth.json

# User data, not for tracking
/Applications/
/Desktop/
/Documents/
/Documents/
/Documents/
/Documents/
/Downloads/
/Library/
/Movies/
/Music/
/Pictures/
/Public/

/PycharmProjects/

# Credentials
/.config/dbxcli/auth.json

# History and logs
/.bash_history
/.bash_sessions/
/.hist.db
/.lesshst
/.python_history
/mbox
/RMAIL
/.testlog
/.viminfo
/.vt_locations

# Emacs caches
/.emacs.d/cask
/.emacs.d/eln-cache
/.emacs.d/elpa

# Temporary build files
/misc/build/
/misc/ports/

# Doom upstream - maintain using instructions in ~/.doom.d/init.el
/doom.emacs.d/

# Override global ignore of bin for my bin scripts
!/bin/
