set editing-mode vi
set completion-ignore-case on
set blink-matching-paren on
set enable-bracketed-paste on
set history-size -1  # unlimited history
# Map the Ctrl-up and Ctrl-down keys to search history
# Map the Ctrl-left and Ctrl-right to move by words
"\e[1;5A" history-search-backward
"\e[1;5B" history-search-forward
"\e[5A" history-search-backward
"\e[5B" history-search-forward
"\e[1;5C" forward-word
"\e[1;5D" backward-word
"\e[5C" forward-word
"\e[5D" backward-word

set keymap vi-insert
Control-o: "setsid "
Control-l: clear-screen

set keymap emacs-standard
Control-o: "setsid "
