# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: [pre-commit,pre-merge-commit,pre-push,prepare-commit-msg,commit-msg,post-checkout,post-commit,post-merge,post-rewrite]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-added-large-files
    -   id: check-merge-conflict
    -   id: check-shebang-scripts-are-executable
    -   id: check-symlinks
    -   id: check-vcs-permalinks
    -   id: check-yaml
    -   id: end-of-file-fixer
        exclude: |
            (?x)(
                ^\.config/karabiner/karabiner\.json$|
                \.patch$
            )
    -   id: trailing-whitespace
        exclude: |
            (?x)(
                ^\.config/karabiner/karabiner\.json$|
                \.patch$
            )
-   repo: local
    hooks:
        - id: doom-commit-consistency-check
          name: Checks consistency of Doom version between .doom.d and doom.emacs.d.
          language: script
          entry: .doom-commit-consistency-check.sh
        - id: submodule-updated-check
          name: Checks that submodules are initialized and up-to-date.
          language: script
          entry: .submodule-updated-check.sh
          always_run: true
          stages: [post-checkout, post-merge, post-rewrite, manual]
